<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>pagesnotfound</name>
            <displayName><![CDATA[Str&aacute;nka nebola n&aacute;jden&aacute;]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Zobrazenie požiadaviek str&aacute;nok od Va&scaron;ich n&aacute;v&scaron;tevn&iacute;kov, ktor&eacute; neboli n&aacute;jden&yacute;.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[analytics_stats]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>