<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockcategories</name>
            <displayName><![CDATA[Blok Kateg&oacute;rie]]></displayName>
            <version><![CDATA[2.0]]></version>
            <description><![CDATA[Prid&aacute; blok, ktor&yacute; obsahuje menu s kateg&oacute;riami produktov.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>