<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>statslive</name>
            <displayName><![CDATA[Pr&iacute;tomn&iacute; n&aacute;v&scaron;tevn&iacute;ci]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Zobraziť zoznam z&aacute;kazn&iacute;kov a n&aacute;v&scaron;tevn&iacute;kov pr&aacute;ve online.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[analytics_stats]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>