<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>stockcheck</name>
            <displayName><![CDATA[Kontrola z&aacute;sob]]></displayName>
            <version><![CDATA[2.9]]></version>
            <description><![CDATA[V&yacute;voz zo z&aacute;sob v&yacute;robkov - www.catalogo-onlinersi.com.ar]]></description>
            <author><![CDATA[RSI]]></author>
            <tab><![CDATA[administration]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>