<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>favoriteproducts</name>
            <displayName><![CDATA[Obľ&uacute;ben&eacute; produkty]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Zobraziť str&aacute;nku s obľ&uacute;ben&yacute;mi produktmi z&aacute;kazn&iacute;ka]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>